.login-wrapper {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    font-family: sans-serif;
    background: url("logo.gif") no-repeat; 
}

.login-container {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    background:url(sky.jpg) no-repeat;
    /* background:url(hell.jpg) no-repeat; */
    background-size:cover;
    opacity: 0.7;
}

.login-form {
    position:absolute;
    top:30%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    text-align:center;
}
  
.login-form h1 {
    font-size:40px;
    margin-top:125px;
    margin-bottom:60px;
}
  
.inputbox{
    width:260px;
    height:40px;
    margin:10px auto;
    background:rgba(3, 175, 187, 0.438);
    border-radius:10px;
}
  
.inputbox input{
    background:none;
    border:none;
    outline:none;
    text-align:center;
    width:90%;
    line-height:37px;
    font-family:sans-serif;
    font-size:18px;
    color:black;
}
  
.loginbtn{
    width:260px;
    height:40px;
    margin:10px auto;
    background:rgb(12, 119, 219);
    border-radius:10px;
    margin:14px auto;
    display:block;
    font-family:sans-serif;
    font-size:18px;
    border:none;
    color:white;
    cursor:pointer;
}
  
.createbtn{
    position: absolute;
    bottom:150px;
    left:50%;
    transform:translateX(-50%);
    width:260px;
    padding:10px 0;
    text-decoration:none;
    text-align:center;
    transition: 0.4s;
}
  
.createbtn:hover{
    color:rgba(165, 23, 247, 0.8);
}