.connections{
    margin-bottom: 50px;
}
.connectionsContainer{
    margin: 0;
}
#twitter-login-switch {
    display: block;
    width: 50px;
    height: 25px;
}

.connectionPage, .connect-text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.our-purpose {
    padding: 20px;
    background-image: url(img/logo.gif);
    background-size: contain, cover;
    background-repeat: no-repeat;
}

.social-icon {
    font-size: 30px;
}

.bird2 {
    margin: 0;
}

.whatWeDo {
    padding-bottom: 40px;
}
.graph-text {
    padding-bottom: 20px;
}