
#sidebar {
    position:fixed;
    width:200px;
    height:100%;
    background:rgb(51,51,51);
    left:-200px;
    z-index:1;
    transition: 0.25s;
    margin-top: -56px;
}

#sidebar.active {
    left:0px;
}

#sidebar ul {
    margin-top: 56px;
}

#sidebar ul li {
    color:rgba(230,230,230,0.9);
    list-style:none;
    padding:15px 10px;
    border-bottom : 1px solid solid rgba(100,100,100,0.3);
}

#sidebar .toggle-button {
    position: absolute;
    left:210px;
    top:-48px;
    border:1px solid white;
    border-radius: 5px;
    padding:3px 10px 3px 10px;;
    transition:0.25s;
}

#sidebar.active .toggle-button {
    left:10px;
    transition:0.25s;
}

#sidebar .toggle-button span {
    display:block;
    width:30px;
    height:3px;
    background:white;
    margin:5px 0px;
}

#sidebar .toggle-button:hover {
    background:rgba(11, 11, 236, 0.6);
}

#sidebar .side-image {
    position: fixed;
    background: url("giphy.gif") no-repeat; 
    background-size:cover;
    background-position:left bottom;
    width:200px;
    height:200px;
    bottom:0;
    /* top:70%;
    bottom:0;
    left:0;
    right:0; */
}