

 .profileContainer{
     margin-top:  20px;
     border:  red 1px solid 
 }

  .profileContainer img{
     margin: 20px ;
     border:  3px solid black 
 }

 .profileContainer h5{
    margin: 20px ;
   
}

.widgetContainer{
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    border: 1px black solid;
    display: inline-block;
}

.widget{
    margin: 5px;
    padding: 30px;
    height: 100px;
    flex-grow: 3;
    border: 2px solid black;
    text-align: center;
}

  .graphContainer {
    margin-top: 20px;
    border:  1px solid black;
    justify-content:  center 
 }

 #linegraph{
     border: 2px red solid;
 }