 .profileContainer{
    padding: 50px;
 }

  .profileContainer img{
     border:  1px solid black;
     border-radius: 50%;
 }

 .profileContainer h5, .profileContainer h6, .profileContainer p{
    margin: 5px ;
}

.widgetContainer{
    padding: 20px;
    width: 100%;
    display: inline-block;
    border-top: 2px solid #E6ECF0;
    border-bottom: 2px solid #E6ECF0;
}

.widget{
    margin: 5px;
    padding: 30px;
    height: 100px;
    flex-grow: 3;
    text-align: center;
}

  .graphContainer {
    margin-top: 50px;
    justify-content:  center ;
    border-bottom: 2px solid #E6ECF0;
 }

canvas{
     height: 100%;
     width: 100%;
 }

 .graph {
     margin-bottom: 50px;
 }

 .noTweets {
     padding: 50px 0 50px 15px;
 }
 
 .twitterFeed{
    padding: 50px 0 50px 15px;
 }