
.fa-twitter {
    margin-left: 50px;
    margin-top: 50px;
    font-size: 50px;
    color: #4AB3F4;
}
.twitter-heading {
    font-size: 40px;
    margin-top: 45px;
    margin-left: 10px;
    color: #4AB3F4;
}
.twitterDescription {
    margin-left: 50px;
    
}
.twitterDescription1 {
    color: #4AB3F4;
}
.profileContainer {
    padding-bottom: 50px;
}

.profileContainer img {
    border-radius: 50%;
    margin-top: 8px;
    margin-left: 50px;
}

.profile-text {
    margin-left: 15px;
}

.widgetContainer {
    padding-bottom: 50px;
    width: 100%;
    display: inline-block;
    border-bottom: 2px solid #E6ECF0;
}

.widget {
    margin: 5px;
    padding: 30px;
    height: 100px;
    flex-grow: 3;
    text-align: center;
}

.graphContainer {
    margin-top: 50px;
    justify-content: center;
    border-bottom: 2px solid #E6ECF0;
    background-color:white;
}

canvas {
    height: 100%;
    width: 100%;
}

.graph {
    margin-bottom: 50px;
    padding: 20px;
}

.twitterFeed{
    margin-left: 15px;
}

.feedTitle {
    margin: 50px 0 0 40px; 
}
.feedDescription {
    margin: 5px 0 50px 40px;
}
.feedDescription1 {
    margin: 5px 0 0 40px;
}

.card-link {
    margin: 5px;
    color: black !important;
}

.card-container {
    display: flex;
    overflow-x: hidden;
    padding: 50px 20px;
}

.tweet-stats {
    position: absolute;
    bottom: 15px;
}

.card-link:hover {
    cursor: pointer;
}

.scroll {
    position:relative;
}

#leftScroll{
    position:absolute;
    background:url("img/arrow-left.svg") no-repeat;
    background-size:contain;
    border:none;
    height:40px;
    width:31px;
    opacity:0.4;
    top:-250px;
    left:20px;
    display:inline-block;
}

#leftScroll:hover{
    opacity:0.6;
    cursor: pointer;
}

#rightScroll{
    height:40px;
    width:25px;
    opacity:0.4;
    top:-250px;
    right:15px;
}

#rightScroll:hover{
    opacity:0.6;
    cursor: pointer;

}

#rightScroll{
    position:absolute;
    bottom:50px; 
    background:url("img/arrow-right.svg") no-repeat;
}

@media only screen and (min-width: 600px) {
    .twitter-heading {
        margin-top: 50px;
    }
  }