.navbar {
    width: 100%;
    z-index: 100;
}

.navbar-brand{
    transition: 0.25s;
}

#toggle-sidebar:active {
    background:rgba(11, 11, 236, 0.6);
}

/* .navbar-brand.active {
    margin-right: 200px;
} */

/* @media (max-width: 400px) {
    .navbar-brand.active {
        margin-right: 0px;
    }
} */