.navbar {
    width: 100%;
    z-index: 100;
}

.navbar-brand{
    transition: 0.25s;
}

/* .navbar-brand.active {
    margin-right: 200px;
}

@media (max-width: 400px) {
    .navbar-brand.active {
        margin-right: 0px;
    }
} */