.navbar {
    width: 100%;
    z-index: 100;
    height: 56px;
    /* box-shadow: 0 0 10px 5px white; */
}

.navbar-brand{
    transition: 0.25s;
}

#toggle-sidebar:active {
    background:rgba(11, 11, 236, 0.6);
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    left: -60%;
}

@media (max-width: 992px) { 
    #navbarDropdown {
        display: none;
    }
}

/* .navbar-brand.active {
    margin-right: 200px;
} */

/* @media (max-width: 400px) {
    .navbar-brand.active {
        margin-right: 0px;
    }
} */